.formfieldspace {
    margin-top: 10px;
    margin-right: 10px;
  }

.subtitle {
    background: #51BAE0;
    color: rgba(255,255,255,.87);
}

.search {
    margin-left: 5%
  }
  
  .toolbar-metrics {
    background: #2C95BE;
    color: rgba(255,255,255,.87);
  }

.box {
    max-width: 20%;
}

.buttonspace {
    margin-right: 10px;
}

.mat-action-row  {
    justify-content: flex-start;
}

.textfieldlong {
    width: 400px;
}

.textarealong {
    width: 400px;
    height: 150px;
}

.button-checks {
    background-color: #51BAE0;
    color: rgba(255,255,255,.87);
  }

.mat-dialog-actions {
    justify-content: flex-end;
}

.mat-dialog-content {
    max-height: 80vh;
}