html, body { 
  height: 100%;
  min-height: 100%;
  font-family: Roboto, Arial, sans-serif;
  
  background-color: #E2E3E7;
}

.textnotavailable {
  color: #333333;
  text-align: center;
  font-style: italic;
  font-size: 14px;

  margin: 10px;
  padding: 10px;
}

.button-checks {
  background-color: #51BAE0;
  color: rgba(255,255,255,.87);
}

.centered {
  position: fixed;
  top: 45%;
  left: 45%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.loader {
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 12px solid #1A325E; /* Blue */
  border-radius: 80%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.errorValidation {
  font-size: 14px;
  color: rgba(218, 50, 50, 0.7);
  margin-left: 20px;
}

.subtitle {
  min-height: 32px;
  height: 32px;

  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  white-space: nowrap;

  padding-top: 10px;
  padding-left: 10px;
}

.app-box {
  margin-top: 10px;

  /* padding-top: 10px; */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.accordion-first {
  font-size: 14px;
  font-weight: bold;

  padding-left: 4px;

  color: #333333;
}

.accordion-second {
  font-size: 12px;
  font-style: italic;
  
  padding-left: 4px;

  color: #868e96!important;
}